/*
THEME COLORS:

#333533 - lgtblk
#242423 - drkblk
#f5cb5c - yellow
#e8eddf - seawht
#7878ed - indigo

*/

@font-face { font-family: "SquareDeal"; src: url("fonts/square-deal.ttf"); }
@font-face { font-family: "Nunito"; src: url("fonts/Nunito-Regular.ttf"); }
@font-face { font-family: "MarketDeco"; src: url("fonts/MarketDeco.ttf"); }

body {
    font-family: Nunito;
    background-color: #333533;
    margin: 0;
    padding: 0;
}

.content h1 {
    font-family: Sans-Serif;
    font-weight: 900;
    font-size: 15vh;
    color: #e8eddf;
    margin: auto;
}

.content h2 {
    font-style: italic;
    font-family: nunito;
    font-weight: 100;
    font-size: 6vh;
    margin: auto;
    color: #bbbbbb
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 6%;
    background-color: #242423;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h3 {
    font-family: SquareDeal;
    font-weight: 900;
    color: transparent;
    text-shadow: 0, 0, 0, #33333333;
    background: linear-gradient(
	-45deg,
	#7878ed,
	#f5cb5c
    );
    -webkit-background-clip: text;
    font-size: 75px;
    transform: rotate(-15deg);
    padding: 0;
    margin: 10px;
    text-align: center;
}

.sidebar a {
    display: block;
    color: #e8eddf;
    font-size: 120%;
    margin: auto;
    padding: 16px;
    padding-top: 6vh;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease;
}

.sidebar a.active {
    color: #f5cb5c;
}

.sidebar a:not(.active):hover {
    color: #7878ed;
    font-weight: 700;
}

.container {
    margin-left: 6%;
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: 500px;
}
